
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/symphony-script');

* {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(201, 201, 214);
}



body {
    background-color: #f4f4f9;
    font-family: 'Oswald', sans-serif;
    color: #333;
    margin: 0;
    
}

/*ESTILOS NAV*/

header{
    background-color: #0e0e0e;
}
nav ul {
    list-style: none;
    padding: 30px;
    display: flex;
    justify-content: right;
    
}

nav ul a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    font-size: x-large;
}

nav ul a:hover {
    background-color: #e0b60f;
    color: #0e0e0e;
    border-radius: 5px;


    
}

.checkbtn {
    display: none;
}

.enlace{
    padding: 20px ;
    position: absolute;
    
    
}
    
.logo{
    height:96px;  
    margin-top: -13px;
   
}

/*estilos carrousel*/
.carousel-container {
    position: relative;
    max-width: 2000px; /* Ajusta esto al ancho que desees */
    margin: auto;
    overflow: hidden;
    padding: 100px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 80%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 80%;  /* Hace que la imagen ocupe el 100% del contenedor */
    height: 600px; /* Ajusta esto a la altura deseada */
    object-fit:inherit;
 
    


}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.logo-large{
    display: flex;
    justify-content: center;
    padding: 200px;
}

.titulo1  {
    font-size: 70px;
    color: rgb(82, 66, 66);
    text-align: center;
    margin-top: 250px;
}


.titulo {
    
    font-size: 70px;
    color: rgb(82, 66, 66);
    text-align: center;
    margin-top: 200px;
}



.titulo2 {
    width: 50%;
    margin: 50px auto; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px ;
    
}

.titulo2:nth-child(odd) {
    background-color: #e3f2fd;
    text-align: left;
}

.titulo2:nth-child(even) {
    background-color: #bbdefb;
    text-align: right;
}

.titulo2 p {
    font-size: 40px;
    color: #2b6382;
    margin-bottom: 20px;
}

.titulo2 h1 {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}



.articulos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 50px;
    gap: 50px;
    position: relative;
}

.articulo {
    width: 100%;
    max-width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.4s;
    border-radius: 25px;
    border-color: rgba(105, 102, 102, 0.105);
    border-style: solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.articulo .img-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.articulo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.articulo:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

.articulo h2 {
    color: rgb(17, 18, 19);
    text-align: center;
    margin-top: 10px;
}

.articulo ul {
    margin-top: 15px;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}




footer {
    background-color: #21261a;
    color: #d3cece;
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    margin-bottom: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    height: 30px;
    width: 30px;
}

/*ESTILOS DE FORMULARIO DE CONTACTO*/
.contacto1 {
    min-height: calc(100vh - 20px); /* Ajusta según la altura de tu footer */

    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

form {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0);
    margin: 20px auto;
    max-width: 400px;
}

label {
    color: #e4dbdb;
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 15px;
    padding: 10px;
    transition: border-color 0.3s;
    width: 100%;
}

input:hover, textarea:hover {
    border-color: #3498db;
}

input:focus, textarea:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

button {
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
}

button:hover {
    background-color: #2980b9;
}
.checkbox{
    visibility: hidden;
}
/* Estilos adicionales */
.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.boton-agregar-carrito {
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.boton-agregar-carrito:hover {
    background-color: #ff4500;
}



/* Ocultar visualmente la caja del checkbox pero mantener la funcionalidad */
.checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

/*ESTILOS RESPONSIVE*/
@media screen and (max-width: 1200px) {

    .logo-large img {
    width:300px;
    }
    
    .enlace{
        display: none;
    }
    
    .carousel-container {
        margin-top: 60px; /* Ajusta este valor según sea necesario */
        padding-top: 20px; /* O puedes usar padding si prefieres */
        overflow: hidden; /* Evita que las imágenes salgan del contenedor */
        
    }
    .carousel-container {
        overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
        position: relative; /* Posiciona el contenedor para los controles */
        max-width: 100%; /* Asegúrate de que el ancho no sobrepase el 100% */
    }
    
    .carousel {
        display: flex; /* Usar flex para alinear los items en una línea */
        transition: transform 0.5s ease; /* Añade transición para un efecto suave al deslizar */
    }
    
    .carousel-item {
        min-width: 100%; /* Cada item del carrusel ocupará el 100% del ancho del contenedor */
        height: auto; /* Ajusta automáticamente la altura */
        padding: 50px;
        
    }
    
    .carousel-item img {
        width: 100%; /* Ajusta el ancho de la imagen al 100% del item */
        height: auto; /* Mantiene la relación de aspecto */
        max-height: 500px; /* Ajusta según necesites */
        object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
       
    }
    
    .carousel-control {
        position: absolute; /* Posiciona los controles en relación al contenedor */
        top: 50%; /* Centra verticalmente */
        transform: translateY(-50%); /* Ajusta la posición vertical */
        background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente para mejor visibilidad */
        border: none; /* Sin borde */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
    
    /* Estilos para el botón de check (icono de barras) */
    .checkbtn {
        display: block;
        position: fixed;
        top: 5px; /* Justo encima del primer elemento (Inicio) */
        left: 50%;
        transform: translateX(-50%);
        z-index: 1001;
        padding: 10px;
        font-size: 30px; /* Ajusta el tamaño del ícono */
        transition: all 0.5s ease;
        cursor: pointer;
        color: rgb(129, 123, 123); /* Color de las tres líneas */
    }

    nav ul {
        background-color: black;
        color: white;
        
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1000;

        /* Añadir flexbox para centrar verticalmente */
        display: flex;
        flex-direction: column; /* Cambiar a columna */
        justify-content: center; /* Centrar verticalmente */
        align-items: center; /* Centrar horizontalmente */
    }

    nav ul li {
        display: block;
        line-height: 50px;
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }

    /* Al activar el checkbox, el menú aparece */
    #check:checked ~ nav ul { 
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }


    #check:checked ~ .checkbtn  {
        display: block;
        justify-content: center;
        align-items: center;
    }
  
}


/*TERMINA HEADER NAV*/

@media (max-width: 992px) {

    .articulos {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .articulos {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .titulo1 p {
        font-size: 60px;
        margin-top: 50px;
    }

}

@media (max-width: 576px) {
    .articulo {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .articulo .img-container {
        height: auto;
    }

    .articulo img {
        max-height: 200px;
    }


    }

